<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student view</title>
  </head>
  <body>
    <a href="http://127.0.0.1:5000/">Home</a>
    <a href="http://127.0.0.1:5000/addview.html">Create</a>
    <a href="http://127.0.0.1:5000/createview.html">Read</a>
    <a href="http://127.0.0.1:5000/addview.html">Update</a>
    <a href="http://127.0.0.1:5000/addview.html">Delete</a>
  </body>
</html>
